<nav class=" bg-gray-800">
    <div class="container p-6 mx-auto ">
        <div>
            {% load static %}
            {% comment %} <img src="{% static 'index.png' %}" alt="Maykin Logo" class="w-20 h-20 "> {% endcomment %}
        </div>
        <div class="flex items-center justify-center mt-6 text-gray-300 text-gray-300">
            <a href="{% url "index" %}" class="border-b-2 border-transparent hover:text-gray-300 hover:border-blue-500 mx-1.5 sm:mx-6">Home</a>

            <a href="{% url "blogs" %}" class="border-b-2 border-transparent hover:text-gray-300 hover:border-blue-500 mx-1.5 sm:mx-6">Blogs</a>

            <a href="{% url "contact" %}" class="border-b-2 border-transparent hover:text-gray-300 hover:border-blue-500 mx-1.5 sm:mx-6">Contact</a>
        </div>
    </div>
</nav>