SECRET_KEY="django-insecure-q9)_r2s$c2#_7z4dx0)k#=m!r5wf%i&_(zp34v)!b&kqk12+5i"
DB_NAME="erhanblog"
DB_USER="erhanblog"
#
# For peer authentication via unix domain socket
# these should be kept empty.
#
DB_PASSWORD=""
DB_HOST=""
DB_PORT=""
