<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{post.title}} | ErhanBlog</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    {% include "components/header.html" %}
<div class="min-w-screen min-h-screen flex items-center p-5 lg:p-10 overflow-hidden relative">
    <div class="w-full max-w-6xl rounded bg-white shadow-xl p-10 lg:p-20 mx-auto text-gray-800 relative md:text-left">
        <div class="md:flex items-center -mx-10">
            <div class="w-full md:w-1/2 px-10 mb-10 md:mb-0">
                <div class="relative">  
                    <img src="/media/{{post.image}}" class="w-full relative z-10" alt="">
                </div>
            </div>
            <div class="w-full md:w-1/2 px-10">
                <div class="mb-10">
                    <h1 class="font-bold text-2xl mb-5">{{post.title}}</h1>
                    <p class="text-xs">{{post.date_posted}}</p>
                    <p class="text-xs pt-2">Author: {{post.author | capfirst}}</p>
                </div>
                <div>
                  <p>
                    {{post.content}}
                  </p>
                </div>
            </div>
        </div>
    </div>
</div>
    {% include "components/footer.html" %}
</body>
</html>