<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ErhanBlog</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
{% include "components/header.html" %}


<div>
    <h1 class="text-center text-3xl mt-2">Wilt u ook redacteur worden van ErhanBlog? Dan kunt u nu via <a href="{% url "contact" %}">hier </a> contact met ons opnemen!</h1>
</div>

<div class="flex flex-wrap">
{% for post in posts%}
<div class="max-w-lg mt-10 ml-24 mr-24">
    <div class="bg-white shadow-md border border-gray-200 rounded-lg max-w-sm mb-5">
        <div class="p-5">
            <a href="#">
                <h5 class="text-gray-900 font-bold text-2xl tracking-tight">{{post.title}}</h5>
                <p class="mb-2 text-xs">Posted: {{post.date_posted}}</p>
                <p class='mb-2 text-xs'>Author: {{post.author |capfirst}}</p>
            </a>
            <p class="font-normal text-gray-700 mb-3">{{post.content|truncatewords:"10"}}</p>
            <a href="{% url 'post' post.pk%}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2 text-center inline-flex items-center" href="#">
                Lees hier verder
            </a>
        </div>
    </div>
</div>
{% endfor %}
</div>

{% include "components/footer.html" %}
</body>
</html>